body {
    background-image: url(images/coffee-bg.jpg);
    background-attachment: fixed;
    margin: 150px;
}

header {
    font-family: Snell Roundhand, cursive;
    border-radius: 15px;
    background-color: rgb(230, 199, 164, 0.75);
    text-align: center;
    padding: 1px;
}

h1{
    font-weight: bold;
    font-size: 36px;
    color: rgb(45, 137, 185);
    padding: 1px;
}

#subhed {
    font-size: 24px;
    padding: 1px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:rgb(45, 137, 185);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.content {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(230, 199, 164, 0.75);
    border-radius: 15px;
    height: 400px;
    text-align: left;
}

.content img {
    height: 350px;
    margin: 15px;
    float: left;
    border-radius: 15px;
}

.content h2{
    color: rgb(0, 107, 145);
    margin-top: 15px;
    padding: 15px;
}
.content p{
    margin: 15px;
}

#rating {
    font-weight: bold;
}

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(230, 199, 164, 0.75);
    border-radius: 15px;
    margin-top: 15px;
    padding: 15px;
}